<div class="table-responsive">
<table class='table table-stripped table-hover'> <!-- <caption> <h4> Table 1: Properties of --
                                -- reservoir system </h4> </caption> -->
  <tr>
    <th class='table-title'>Case
    </th>
    <th class='table-title'>Permeability trend
    </th>
    <th class='table-title'>Cross-flow?
    </th>
  </tr>
<tr bgcolor='#ffffff'>
  <td>1
  </td>
  <td>Natural
  </td>
  <td>No
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>2
  </td>
  <td>Natural
  </td>
  <td>Yes
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>3
  </td>
  <td>Coarsening up
  </td>
  <td>Yes
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>4
  </td>
  <td>Coarsening down
  </td>
  <td>Yes
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>5
  </td>
  <td>Combination
  </td>
  <td>Yes
  </td>
</tr>
</table>
</div>
