<div class="table-responsive">
<table class='table table-stripped table-hover'> <!-- <caption> <h4> Table 1: Properties of --
                                -- reservoir system </h4> </caption> -->
  <tr>
    <th class='table-title'>No
    </th>
    <th class='table-title'>TOP (ft)
    </th>
    <th class='table-title'>BOT (ft)
    </th>
    <th class='table-title'>Height (ft)
    </th>
    <th class='table-title'>Perm (md)
    </th>
    <th class='table-title'>Poro
    </th>
    <th class='table-title'>Swi
    </th>
    <th class='table-title'>Sor
    </th>
    <th class='table-title'>Krw'
    </th>
    <th class='table-title'>Kro'
    </th>
    <th class='table-title'>Velocity
    </th>
    <th class='table-title'>Flood order
    </th>
  </tr>
<tr bgcolor='#ffffff'>
  <td>1
  </td>
  <td>10000
  </td>
  <td>10029
  </td>
  <td>29.0
  </td>
  <td>453.0
  </td>
  <td>0.22
  </td>
  <td>0.21
  </td>
  <td>0.15
  </td>
  <td>0.39
  </td>
  <td>1.0
  </td>
  <td>453
  </td>
  <td>12
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>2
  </td>
  <td>10029
  </td>
  <td>10053
  </td>
  <td>24.0
  </td>
  <td>107.0
  </td>
  <td>0.19
  </td>
  <td>0.23
  </td>
  <td>0.19
  </td>
  <td>0.43
  </td>
  <td>1.0
  </td>
  <td>107
  </td>
  <td>18
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>3
  </td>
  <td>10053
  </td>
  <td>10075
  </td>
  <td>22.0
  </td>
  <td>88.0
  </td>
  <td>0.20
  </td>
  <td>0.20
  </td>
  <td>0.16
  </td>
  <td>0.37
  </td>
  <td>1.0
  </td>
  <td>88
  </td>
  <td>19
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>4
  </td>
  <td>10075
  </td>
  <td>10091
  </td>
  <td>16.0
  </td>
  <td>364.0
  </td>
  <td>0.15
  </td>
  <td>0.24
  </td>
  <td>0.13
  </td>
  <td>0.33
  </td>
  <td>1.0
  </td>
  <td>364
  </td>
  <td>15
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>5
  </td>
  <td>10091
  </td>
  <td>10118
  </td>
  <td>27.0
  </td>
  <td>223.0
  </td>
  <td>0.21
  </td>
  <td>0.29
  </td>
  <td>0.11
  </td>
  <td>0.45
  </td>
  <td>1.0
  </td>
  <td>223
  </td>
  <td>16
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>6
  </td>
  <td>10118
  </td>
  <td>10133
  </td>
  <td>15.0
  </td>
  <td>652.0
  </td>
  <td>0.17
  </td>
  <td>0.22
  </td>
  <td>0.23
  </td>
  <td>0.38
  </td>
  <td>1.0
  </td>
  <td>652
  </td>
  <td>6
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>7
  </td>
  <td>10133
  </td>
  <td>10160
  </td>
  <td>27.0
  </td>
  <td>683.0
  </td>
  <td>0.25
  </td>
  <td>0.24
  </td>
  <td>0.24
  </td>
  <td>0.43
  </td>
  <td>1.0
  </td>
  <td>683
  </td>
  <td>4
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>8
  </td>
  <td>10160
  </td>
  <td>10179
  </td>
  <td>19.0
  </td>
  <td>426.0
  </td>
  <td>0.19
  </td>
  <td>0.21
  </td>
  <td>0.12
  </td>
  <td>0.49
  </td>
  <td>1.0
  </td>
  <td>426
  </td>
  <td>13
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>9
  </td>
  <td>10179
  </td>
  <td>10199
  </td>
  <td>20.0
  </td>
  <td>893.0
  </td>
  <td>0.23
  </td>
  <td>0.28
  </td>
  <td>0.16
  </td>
  <td>0.48
  </td>
  <td>1.0
  </td>
  <td>893
  </td>
  <td>2
  </td>
</tr>
<tr bgcolor='#ff9999' class='danger'>
  <td>10
  </td>
  <td>10199
  </td>
  <td>10218
  </td>
  <td>19.0
  </td>
  <td>904.0
  </td>
  <td>0.17
  </td>
  <td>0.29
  </td>
  <td>0.20
  </td>
  <td>0.50
  </td>
  <td>1.0
  </td>
  <td>904
  </td>
  <td>1
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>11
  </td>
  <td>10218
  </td>
  <td>10243
  </td>
  <td>25.0
  </td>
  <td>175.0
  </td>
  <td>0.18
  </td>
  <td>0.20
  </td>
  <td>0.25
  </td>
  <td>0.34
  </td>
  <td>1.0
  </td>
  <td>175
  </td>
  <td>17
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>12
  </td>
  <td>10243
  </td>
  <td>10266
  </td>
  <td>23.0
  </td>
  <td>548.0
  </td>
  <td>0.21
  </td>
  <td>0.23
  </td>
  <td>0.11
  </td>
  <td>0.33
  </td>
  <td>1.0
  </td>
  <td>548
  </td>
  <td>8
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>13
  </td>
  <td>10266
  </td>
  <td>10281
  </td>
  <td>15.0
  </td>
  <td>475.0
  </td>
  <td>0.17
  </td>
  <td>0.23
  </td>
  <td>0.28
  </td>
  <td>0.48
  </td>
  <td>1.0
  </td>
  <td>475
  </td>
  <td>11
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>14
  </td>
  <td>10281
  </td>
  <td>10308
  </td>
  <td>27.0
  </td>
  <td>770.0
  </td>
  <td>0.17
  </td>
  <td>0.30
  </td>
  <td>0.12
  </td>
  <td>0.45
  </td>
  <td>1.0
  </td>
  <td>770
  </td>
  <td>3
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>15
  </td>
  <td>10308
  </td>
  <td>10336
  </td>
  <td>28.0
  </td>
  <td>646.0
  </td>
  <td>0.20
  </td>
  <td>0.23
  </td>
  <td>0.12
  </td>
  <td>0.39
  </td>
  <td>1.0
  </td>
  <td>646
  </td>
  <td>7
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>16
  </td>
  <td>10336
  </td>
  <td>10348
  </td>
  <td>12.0
  </td>
  <td>409.0
  </td>
  <td>0.22
  </td>
  <td>0.22
  </td>
  <td>0.17
  </td>
  <td>0.39
  </td>
  <td>1.0
  </td>
  <td>409
  </td>
  <td>14
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>17
  </td>
  <td>10348
  </td>
  <td>10364
  </td>
  <td>16.0
  </td>
  <td>539.0
  </td>
  <td>0.16
  </td>
  <td>0.24
  </td>
  <td>0.27
  </td>
  <td>0.46
  </td>
  <td>1.0
  </td>
  <td>539
  </td>
  <td>9
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>18
  </td>
  <td>10364
  </td>
  <td>10388
  </td>
  <td>24.0
  </td>
  <td>673.0
  </td>
  <td>0.15
  </td>
  <td>0.29
  </td>
  <td>0.17
  </td>
  <td>0.44
  </td>
  <td>1.0
  </td>
  <td>673
  </td>
  <td>5
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>19
  </td>
  <td>10388
  </td>
  <td>10411
  </td>
  <td>23.0
  </td>
  <td>526.0
  </td>
  <td>0.23
  </td>
  <td>0.26
  </td>
  <td>0.19
  </td>
  <td>0.49
  </td>
  <td>1.0
  </td>
  <td>526
  </td>
  <td>10
  </td>
</tr>
<tr bgcolor='#ffffff'>
  <td>20
  </td>
  <td>10411
  </td>
  <td>10439
  </td>
  <td>28.0
  </td>
  <td>72.0
  </td>
  <td>0.16
  </td>
  <td>0.24
  </td>
  <td>0.27
  </td>
  <td>0.33
  </td>
  <td>1.0
  </td>
  <td>72
  </td>
  <td>20
  </td>
</tr>
<tr>
  <td>
    <strong>Average
    </strong>
    <td></td>
    <td></td>
    <td>
      <strong>21.95
      </strong>
    </td>
    <td>
      <strong>472.93
      </strong>
    </td>
    <td>
      <strong>  0.19
      </strong>
    </td>
    <td>
      <strong>  0.24
      </strong>
    </td>
    <td>
      <strong>  0.18
      </strong>
    </td>
    <td>
      <strong>  0.42
      </strong>
    </td>
    <td>
      <strong>   1.0
      </strong>
    </td>
    <td></td>
    <td></td>
  </td>
</tr>
</table>
</div>
