
<table class='table table-stripped table-hover table-responsive'>
<caption class='text-center'>
  <h4>Kv/Kh = 0.2
  </h4>
</caption>
  <tr class='header-class'>
<th class='text-center'>Case
</th>
<th class='text-center'>Name
</th>
<th class='text-center'>Cross-flow
</th>
<th class='text-center'>WBT (days)
</th>
<th class='text-center'>COP @ BT (MMSTB)
</th>
  </tr>
<tr>
<td class='text-center'>1a
</td>
<td class='text-center'>natural
</td>
<td class='text-center'>No
</td>
<td class='text-center'>  650
</td>
<td class='text-center'> 3.17
</td>
</tr>
<tr>
<td class='text-center'>1b
</td>
<td class='text-center'>natural
</td>
<td class='text-center'>Yes
</td>
<td class='text-center'> 1100
</td>
<td class='text-center'> 5.10
</td>
</tr>
<tr>
<td class='text-center'>2
</td>
<td class='text-center'>coarse up
</td>
<td class='text-center'>Yes
</td>
<td class='text-center'> 1120
</td>
<td class='text-center'> 5.03
</td>
</tr>
<tr>
<td class='text-center'>3
</td>
<td class='text-center'>coarse down
</td>
<td class='text-center'>Yes
</td>
<td class='text-center'>  790
</td>
<td class='text-center'> 3.79
</td>
</tr>
<tr>
<td class='text-center'>4
</td>
<td class='text-center'>combination
</td>
<td class='text-center'>Yes
</td>
<td class='text-center'> 1040
</td>
<td class='text-center'> 4.75
</td>
</tr>
</table>