
<table class='table table-stripped table-bordered'>
<caption class='text-center'>
  <h4>Kv/Kh = 0.4
  </h4>
</caption>
  <tr class='header-class'>
<th class='text-center'>Case
</th>
<th class='text-center'>Name
</th>
<th class='text-center'>BT Time (days)
</th>
<th class='text-center'>COP @ BT (MMSTB)
</th>
  </tr>
<tr>
<td class='text-center'>1a
</td>
<td class='text-center'>natural
</td>
<td class='text-center'>  560
</td>
<td class='text-center'> 2.76
</td>
</tr>
<tr>
<td class='text-center'>1b
</td>
<td class='text-center'>natural
</td>
<td class='text-center'>  860
</td>
<td class='text-center'> 4.08
</td>
</tr>
<tr>
<td class='text-center'>2
</td>
<td class='text-center'>coarse up
</td>
<td class='text-center'>  980
</td>
<td class='text-center'> 4.55
</td>
</tr>
<tr>
<td class='text-center'>3
</td>
<td class='text-center'>coarse down
</td>
<td class='text-center'>  470
</td>
<td class='text-center'> 2.35
</td>
</tr>
<tr>
<td class='text-center'>4
</td>
<td class='text-center'>combination
</td>
<td class='text-center'>  860
</td>
<td class='text-center'> 4.07
</td>
</tr>
</table>