
<table class='table table-responsive   table-hover '>
<col width='20' />
<col width='20' />
<col width='20' />
<col width='20' />
<col width='20' />
  <tr class='header-class'>
<th></th>
<th class='text-center'>A
</th>
<th class='text-center'>B
</th>
<th class='text-center'>C
</th>
<th class='text-center'>D
</th>
<th class='text-center'>E
</th>
  </tr>
<tr>
<td></td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.93
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.96
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.4244
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>     0
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 1.0
</td>
</tr>
<tr>
<td></td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.09
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.52
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.2946
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>     0
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.1
</td>
</tr>
<tr>
<td></td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.71
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.44
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.3926
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>     0
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.7
</td>
</tr>
<tr>
<td></td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.99
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.91
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.4374
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>     1
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.2
</td>
</tr>
<tr>
<td></td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.72
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.22
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.9113
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>     0
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.7
</td>
</tr>
<tr>
<td></td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.81
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.68
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.8967
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>     0
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.7
</td>
</tr>
<tr>
<td></td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.24
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.53
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.4244
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>     0
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 1.0
</td>
</tr>
<tr>
<td></td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.54
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.82
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.8657
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>     1
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.9
</td>
</tr>
<tr>
<td></td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.71
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.38
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.5436
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>     0
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 1.0
</td>
</tr>
<tr>
<td></td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.39
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.69
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>0.1876
</td>
<td class='class-idtext-center' style='height:30px,width:10px'>     1
</td>
<td class='class-idtext-center' style='height:30px,width:10px'> 0.1
</td>
</tr>
<tr>
  <td>
    <strong>Average
    </strong>
  </td>
<td class='text-center'>  0.614
</td>
<td class='text-center'>  0.614
</td>
<td class='text-center'>  0.538
</td>
<td></td>
<td class='text-center'>  0.627
</td>
</tr>
</table>