{{ partial "header.html" . }}
<div class="front-container">
  <div class="frontpage-header">
    <h1>Blog, Tutorials, Projects, Tips
<!--   <h2>Oh ... and photos!</h2> -->
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center">
      <a class="ximglink" href="petroleum/">
        <h2 class="center-text">Oil & Gas</h2>
        <div class="img-responsive">
          <img class="figure-blog-type" src="img/oilrig.jpg" alt="photo" />
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center">
      <a class="ximglinxk" href="data/">
        <h2 class="center-text">Data</h2>
        <div class="img-responsive">
          <img class="figure-blog-type" src="/img/bigdata.jpg" alt="photo" />
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center blog-type">
        <a class="ximglink" href="optimization/">
          <h2 class="center-text">Optimization</h2>
          <div class="img-responsive">
            <img class="figure-blog-type" src="/img/objsurface.jpg" alt="photo" />
          </div>
        </a>
      </div>
  
</div>
      <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center blog-type">
        <a class="ximglink" href="olympus/">
          <h2 class="center-text">Olympus</h2>
          <div class="img-responsive">
            <img class="figure-blog-type" src="/img/olympus_perm_model.jpg" alt="photo" />
          </div>
        </a>
      </div>
    </div>
</div>

{{ partial "footer.html" . }}


